Backend/__pycache__

classificationModel/Dataset/
classificationModel/images/

CycleGAN/

Docker/data/

# Database Images
# src/main/Database/Temp/images
FitVisionApp/.gradle/8.11.1/executionHistory/executionHistory.bin
FitVisionApp/.gradle/8.11.1/executionHistory/executionHistory.bin

mainCycle/preTHEprocessing
mainCycle/tensorflow_examples
mainCycle/masking
mainCycle/rename.ipynb
mainCycle/Dataset

mainCycle/new/datasets/